<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Skills</h1>
    <ul>
      <% skills.forEach( skill => { %>
      <li>
        <a href="/skills/<%= skill.id %>"><%= skill.name %></a>
      </li>
      <% }); %>
    </ul>
  </body>
  <html></html>
</html>
