<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Skills</h1>
    <ul>
      <a href="skills/new">Add skill</a>
      <% skills.forEach( skill => { %>
      <li>
        <a href="/skills/<%= skill.id %>"><%= skill.name %></a>
        <form action="/skills/<%= skill.id %>?_method=DELETE" method="POST">
          <button style="display: inline" type="submit">X</button>
        </form>
      </li>

      <% }); %>
    </ul>
  </body>
  <html></html>
</html>
